{{!-- <!DOCTYPE html>
<html>
<head>
  <title>Available Items</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script defer src="/js/animations.js"></script>
</head>
<body>
    {{> navbar}}

  <h1>Available Items</h1>
  <ul>
    {{#each items}}
      <li>
        <strong>{{this.name}}</strong> - ₹{{this.rentPrice}}/day in {{this.city}} <br>
        <img src="{{this.image}}" alt="Item Image">
      </li>
    {{/each}}
  </ul>
</body>
</html> --}}








<!DOCTYPE html>
<html>
<head>
  <title>Available Items</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script defer src="/js/booking.js"></script> <!-- new JS for booking -->
</head>
<body>
  {{> navbar}}

  <h1>Available Items</h1>
  
  <ul>
  {{#each items}}
    <li class="item-card">
      <strong>{{this.name}}</strong> - ₹{{this.rentPrice}}/day in {{this.city}} <br>
      {{#if this.image}}
        <img src="{{this.image}}" alt="{{this.name}}" style="max-width:150px;">
      {{/if}}
      
      <!-- Booking form -->
      <form action="/rentals/book" method="POST" class="booking-form">
        <input type="hidden" name="itemId" value="{{this._id}}">
        
        <label for="days-{{this._id}}">Days to rent:</label>
        <input type="number" id="days-{{this._id}}" name="days" min="1" value="1" required>
        
        <p>Total Price: ₹<span class="total-price">{{this.rentPrice}}</span></p>
        
        <button type="submit">Book Now</button>
      </form>
    </li>
  {{/each}}
</ul>

</body>
</html>
